/* Your SCSS here. */
* {
  margin: 0;
  text-align: center;
  //outline: 1px solid red;
}

html {
    width: 100%;
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
    overscroll-behavior-y: none;
    font-family: "Lucida Console", "Courier New", monospace;
}

a:hover {
    cursor: crosshair;
}

section {
    min-height: 200px;
}

p {
    font-size: 20px;
}

h2, h3, h4, h5 {
    padding: 10px;
}

h1 {
    padding-top: 50px; //usually starts sections and is squished to top
    font-size: 3em; //keep size consistent even in sections
}

#main-header {
    height: 900px;
}

#main-header-img{
    object-fit: cover;
    max-height: 700px;
    width: 100%;
}

.background-image {
    height: 800px;
    background-image: url("../assets/fam_2.jpg");
    background-size: cover;
    position: static;
}

.padding-class {
    height: 800px;
    background-color: black;
}

.nav-bar-text {
    color: black;
    text-decoration: none;
    margin: 5px;
}

.navbar-fullsize {
    font-size: 40px;
    padding: 20px;
    padding-left: 25px;
    padding-right: 25px;
}

.navbar-shrunk {
    font-size: 24px;
    padding: 2px;
    padding-left: 15px;
    padding-right: 15px;
}

.basic-flex {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding-right: 10px;
}

.basic-flex-around {
    @extend .basic-flex;
    justify-content: space-around;
}

.navbar-selected {
    background-color: lightgray;
}

#navbar {
    z-index: 1;
    top: 0px;
    position: sticky;
    border-style: outset;
    border-color: gray;
    border-width: medium;
    background-color: #83a36a;
    box-sizing: border-box;
    @extend .basic-flex;
    justify-content: flex-end;

    a:visited {
        text-decoration: none;
    }
    a:hover {
        color: antiquewhite;
        text-decoration: underline;
    }
}

.svg-text {
    margin-right: auto; //keep it to the left side. Will get unused space to the right
    font-family: "Apple Chancery", "cursive";
    font-style: normal;
    font-weight: bold;
}

#svg-text-1 {
    font-size: 40px;
}

#svg-text-2 {
    font-size: 32px;
}

#horizontal-grid {
    width: 100%;
    height: 1000px;
    grid-gap: 25px;
    background-color: #8ea181;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 8% 3% 50% 1% 20% auto;
    grid-auto-flow: column;
    grid-template-areas:
        "horizontal-grid-title horizontal-grid-title horizontal-grid-title"
        "horizontal-section-l-title horizontal-section-m-title horizontal-section-r-title"
        "horizontal-section-l-img horizontal-section-m-img horizontal-section-r-img"
        ". . ."
        "horizontal-section-l-p horizontal-section-m-p horizontal-section-r-p"
        ". . .";

        .grid-wrapper {
          display: flex;
          flex-direction: column;
          align-items: center; /* Vertical center of image & text */
        }

        #horizontal-grid-title {
            background-color: antiquewhite;
            grid-area: horizontal-grid-title;
            font-weight: bold;
        }

        #horizontal-section-l-title {
            background-color: antiquewhite;
            grid-area: horizontal-section-l-title;
        }

        #horizontal-section-m-title {
            background-color: antiquewhite;
            grid-area: horizontal-section-m-title;
        }

        #horizontal-section-r-title {
            background-color: antiquewhite;
            grid-area: horizontal-section-r-title;
        }

        .section-img {
            max-width: 90%;
            max-height: 90%;
            border-radius: 50%;
        }

        #horizontal-section-l-img {
            grid-area: horizontal-section-l-img;
        }

        #horizontal-section-m-img {
            grid-area: horizontal-section-m-img;
        }

        #horizontal-section-r-img {
            grid-area: horizontal-section-r-img;
        }

        .horizontal-section-p {
            padding-left: 10px;
            padding-right: 10px;
        }

        #horizontal-section-l-p {
            @extend .horizontal-section-p;
            grid-area: horizontal-section-l-p;
        }

        #horizontal-section-m-p {
            @extend .horizontal-section-p;
            grid-area: horizontal-section-m-p;
        }

        #horizontal-section-r-p {
            @extend .horizontal-section-p;
            grid-area: horizontal-section-r-p;
        }
}

#carousel-section {
    height: 800px;
    width: 100%;
}

.next-circle {
     stroke: white;
     stroke-width: 1;
     fill: none;
}

.next-arrow {
    fill: none;
    stroke: white;
    stroke-width: 2;
}

#gif {
    z-index: 0;
    padding-top: 50px;
    position: absolute;
    left: 0px;
    animation-name: run;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes run {
    from{ transform: translateX(-5vw); }
    to{ transform: translateX(105vw);}
}

#carousel-header {
    height: 200px;
    background-image: linear-gradient(#8ea181, white);
}

#slide-box {
    margin-top: 50px;
    height: 600px;
    background-color: black;
}

#next-circle-right,
#next-circle-left {
    visibility: hidden;
}

#slide-next {
    float: left;
}

#slide-next:hover > #next-circle-right {
    visibility: visible;
}

#slide-next:hover > #next-circle-right {
    visibility: visible;
}

#slide-prev {
    float: right;
}

#slide-prev:hover > #next-circle-left {
    visibility: visible;
}

.hidden {
    display: none;
}

.carousel-img {
    height: 80%;
    width: 100%;
}

#black-space {
    height: 400px;
    background-image: linear-gradient(black, black, darkred);
}

#more-black-space {
    height: 400px;
    background-color: black;
}

#swars-header {
    height: 1000px;
    background-image: linear-gradient(darkred, black);
}

#death-start-container {
    position: absolute;
    height: 400px;
    width: 100%;
    top: 445%;
}

#death-star {
    height: 400px;
    width: 100%;
}

.rel-container {
    position: static;
    height: 200px;
    background-color: black;
}

.modal-vader-class {
    height: 1000px;
    justify-content: center;
    background-color: black;
}

#main-footer {
    display: grid;
    font-family: "Times new Roman";
    grid-template-columns: 30px 30% auto 55% 30px;
    height: auto;
    width: 100%;
    background-color: #8ea181;
}

//https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal
.modal {
    position: relative;
    justify-content: center;
    top: -75%;
    height: 600px;
    display: none;
    z-index: 1;
    background-color: rgba(0,0,0,0.3);
}

.close {
  color: antiquewhite;
  float: right;
  margin-right: 56px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover
{
  color: gray;
  cursor: pointer;
}
